{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
  <!---main start-->

  <div class="row my-2">

    <div class="col-md-5">

        <table class="table">
            <tr>
                <th class="text-secondary">CUSTOMER DETAILS</th>
            </tr>
            <tr>
                <th>Customer Name:</th>
                <td>{{user.username}}</td>

            </tr>
            <tr>
                <th>Email:</th>
                <td>{{user.email}}</td>
            </tr>
           <!---<tr>
                <th>Delivery Address:</th>
                <td>2nd FLoor , ishan Archade 1,Near Gaodevi mandir, Thane-West</td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td>425501</td>
            </tr>

        --User Details End-->
        </table>

        <div class="bg-primary p-1">
            <strong class="text-white">Order SUMMARY</strong>
        </div>
        {% for x in data %}
        <div class="row mt-2">
            <div class="col-md-2">
                <img src="{% static 'assets/images/watch.jpg' %}" class="img-fluid" alt="Titan Watch">

            </div><!---Product Image end-->
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Product Name:</th>
                        <td>{{x.pid.name}}</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>{{x.pid.detail}}</td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td>&#8377;.{{x.pid.price}}</td>
                    </tr>
               
                    </tr>
                    <tr>
                        <td><a href="cancelorder.html?oid={{x.order_id}}" class="btn btn-danger"><strong>Remove</strong></a></td>
                    </tr>
                </table>

            </div><!--Product details End-->
        </div><!--Cart product ends-->
{% endfor %}
    </div><!---user and Product details-->

    <div class="col-md-3">
        <table class="table">

            <tr>
                <th class="text-secondary">PRICE DETAILS</th>
            </tr>
            <tr>
                <th>price({{items}} items)</th>
                <td>&#8377;.{{total}}</td>
            </tr>
            <tr>
                <th>Total Amount payble:</th>
                <th>&#8377;.{{total}}</th>
            </tr>
            <tr>
                <td><a href="/payapp/" class="btn btn-primary"><strong>Make Payment</strong></a></td>
             
            </tr>
        </table>

    </div><!---price details-->
</div>
<!--Main End-->
{% endblock 'main' %}